*.log
*.jou
Vivado/.Xil/
Vivado/*.str
Vi*/genesyszu/
Vi*/pynqzu/
Vi*/uzev/
Vi*/zcu102_hpc0/
Vi*/zcu102_hpc1/
Vi*/zcu104/
Vi*/zcu106_hpc0/
Vi*/zcu106_pcie/
Vitis/*_app/
Vitis/*_app_*/
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/embeddedsw/
Vitis/RemoteSystemsTempFiles/
PetaLinux/genesyszu/
PetaLinux/pynqzu/
PetaLinux/uzev/
PetaLinux/zcu102_hpc0/
PetaLinux/zcu102_hpc1/
PetaLinux/zcu104/
PetaLinux/zcu106_hpc0/
PetaLinux/zcu106_pcie/
docs/build/
Packages/
