*.log
*.jou
Vivado/.Xil/
Vivado/*.str
Vivado/genesyszu/
Vivado/pynqzu/
Vivado/uzev/
Vivado/zcu102_hpc0/
Vivado/zcu102_hpc1/
Vivado/zcu104/
Vivado/zcu106_hpc0/
Vitis/*_app/
Vitis/*_app_*/
Vitis/.*/
Vitis/.*
Vitis/genesyszu/
Vitis/pynqzu/
Vitis/uzev/
Vitis/zcu102_hpc0/
Vitis/zcu102_hpc1/
Vitis/zcu104/
Vitis/zcu106_hpc0/
Vitis/boot/
Vitis/embeddedsw/
Vitis/RemoteSystemsTempFiles/
PetaLinux/*_mipi/
docs/build/
HLS/*/*/
Packages/
